/*------------------------------------------------------------------------------
-- // RESETS
------------------------------------------------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span,
header, nav, main, article, section, aside, footer,
h1, h2, h3, h4, h5, h6,
p, strong, em, b, i, u, a, ol, ul, li,
blockquote, pre, code, hr,
img, audio, video,
table, caption, tbody, tfoot, thead, tr, th, td,
form, input {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

header, nav, main, article, section, aside, footer,
blockquote, pre, hr,
img, audio, video,
table,
form {
  display: block;
}

/*------------------------------------------------------------------------------
-- // VARIABLES
------------------------------------------------------------------------------*/

:root {
  --spacing-unit: 16px;

  --color-border: #e3e3e3;
  --color-primary-background: #243142;
  --color-secondary-background: #ffffff33;
  --color-primary-font: #fff;
  --color-secondary-font: #1f395c;
  --color-accent: #f95959;
  --color-link: #2b5585;
}

/*------------------------------------------------------------------------------
-- // BASE
------------------------------------------------------------------------------*/

body {
  background-color: var(--color-primary-background);
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
  color: var(--color-primary-font);
}

/*------------------------------------------------------------------------------
-- // BASE
------------------------------------------------------------------------------*/

h1 { 
  margin-top: calc(var(--spacing-unit) / 4); 
  margin-bottom: var(--spacing-unit);
  font-size: .75em;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

ul {
  padding-left: var(--spacing-unit);
  list-style-type: disc;
}
li { margin-bottom: calc(var(--spacing-unit) / 4); }

a { 
  color: var(--color-link);
  text-decoration: none;
}
a:hover { 
  color: var(--color-accent); 
  transition: .4s;
}

/*------------------------------------------------------------------------------
-- // LAYOUT
------------------------------------------------------------------------------*/

.wrapper {
  /* center frame within parent frame */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.browser-size {
  padding: calc(var(--spacing-unit) * 4);
  border-top: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  background-color: var(--color-secondary-background);
  font-size: 6em;
  text-align: center;
}

.content {
  padding: var(--spacing-unit);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  background-color: var(--color-border);  
  color: var(--color-secondary-font);
}

/*------------------------------------------------------------------------------
-- // DIVIDER X
------------------------------------------------------------------------------*/

.divider-x {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.divider-x:after {
  position: absolute;
  left: 28px;
  height: 60px;
  border-left: 8px solid var(--color-accent);
  transform: rotate(45deg);
  content: '';
}

.divider-x:before {
  position: absolute;
  left: 28px;
  height: 60px;
  border-left: 8px solid var(--color-accent);
  transform: rotate(-45deg);
  content: '';
}

/*------------------------------------------------------------------------------
-- // PARTICLES
------------------------------------------------------------------------------*/

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
